*.pth
*.pt
*.onnx
.cache/
__pycache__/
*.pyc
.DS_Store
Thumbs.db
release_assets/
release_assets_fp16/
release_assets_int8/
release_assets_rasa/
rasa_src/
exported_respin_syspin_models/
release_assets_piper/
npu_listen/
release_assets_compact/
piper_src/
